{% load socialaccount %}
<html>
<body>
<h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
  <p>First Name {{ user.first_name }}</p>
  <p>Last Name {{ user.last_name }}</p>
  <p>Email {{ user.email }}</p>
  <p>Social account {{user.socialaccount_providers }}</p>
  <img src="{{user.socialaccount_set.all.0.get_avatar_url}}">
  <p>Avatar {{user.socialaccount_set.all.0.get_avatar_url}}
  </p>
  

{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>