#customBtn {
    display: inline-block;
    background: #4285F4;
    color: #ddd;
    width: 180px;
    /* border-radius: 5px;
    border: thin solid #888; */
    /* box-shadow: 1px 1px 1px grey; */
    white-space: nowrap;
  }
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('../../../static/images/google-icon.png') transparent 50% 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}